* {
    box-sizing: border-box; /* Umożliwia lepsze zarządzanie wymiarami elementów */
}

body {
    font-family: 'Roboto', sans-serif; /* Nowoczesna czcionka */
    background-color: #121212; /* Ciemne tło */
    color: #ffffff; /* Białe teksty */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e; /* Lekko jaśniejszy ciemny kolor tła */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Wyraźniejszy cień */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em; /* Większy nagłówek */
    color: #00bcd4; /* Kolor akcentu */
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold; /* Pogrubione etykiety */
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em; /* Umożliwia łatwiejsze czytanie */
    transition: background-color 0.3s, transform 0.2s; /* Animacje */
}

input:focus, select:focus {
    outline: none;
    background-color: #2a2a2a; /* Kolor tła przy focusie */
}

button {
    background-color: #28a745; /* Zielony kolor przycisku */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #218838; /* Ciemniejszy zielony przy hoverze */
    transform: scale(1.05); /* Powiększenie przycisku przy hoverze */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444; /* Kolor obramowania */
}

th {
    background-color: #2a2a2a; /* Ciemniejsze tło nagłówków */
    color: #00bcd4; /* Kolor tekstu nagłówków */
}

tr:hover {
    background-color: #333; /* Zmiana koloru wiersza na hover */
}

.validation-message {
    color: #ff4757; /* Czerwony kolor dla komunikatów o błędach */
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

canvas {
    margin-top: 20px; /* Odstęp nad wykresem */
}

/* Styl dla przycisku drukowania */
#print-button {
    background-color: #007bff; /* Niebieski kolor dla przycisku */
    margin-top: 20px;
}

#print-button:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski przy hoverze */
}

/* Styl dla akcji w tabeli */
.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button {
    background-color: #ff4757; /* Czerwony kolor dla przycisku usuwania */
    color: white;
}

.delete-button:hover {
    background-color: #c0392b; /* Ciemniejszy czerwony przy hoverze */
}